$spacing_sizeUnit: rem;
$spacing_marginKey: 'm';
$spacing_paddingKey: 'p';
$spacing_separator: '-';
$spacing_sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $spacing_sizeUnit);
}

@each $size in $spacing_sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$spacing_marginKey}#{$spacing_separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$spacing_paddingKey}#{$spacing_separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$spacing_marginKey}#{$spacing_separator}#{$posKey}#{$spacing_separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$spacing_paddingKey}#{$spacing_separator}#{$posKey}#{$spacing_separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}
