@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

$approved_colors: "#e02020" "#4dd400" "#0091ff" "#9abaee" "#fa6400" "#44d7b6" "#b620e0" "#00b62a" "#f7b500" "#32c5ff" "#d2109d" "#6236ff" "#32c5ff" "#9f1bc4" "#6236ff" "#0091ff" "#f7b500" "#6dd400" "#da291c" "#0a467f" "#1d3d90" "#1d3d90" "#007dc6" "#ffc220" "#00e6dc" "#9223e0";

.has-color-border {
  position: relative;
  &::before {
    content: ' ';
    width: 3px;
    height: calc(100% - 1.25em);
    min-height: 95%;
    background-color: $grey;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
  }
  @each $color in $approved_colors {
    &.color-#{str-replace($color, '#', '')} {
      &::before {
        background-color: #{$color};
      }
    }
  }
}