.has-color-border {
  position: relative;
  &::before {
    content: ' ';
    width: 3px;
    height: 85%;
    background-color: $grey;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
  }
  &.color-e02020 {
    &::before {
      background-color: #e02020;
    }
  }
  &.color-4dd400 {
    &::before {
      background-color: #4dd400;
    }
  }
  &.color-0091ff {
    &::before {
      background-color: #0091ff;
    }
  }
  &.color-9abaee {
    &::before {
      background-color: #9abaee;
    }
  }
  &.color-fa6400 {
    &::before {
      background-color: #fa6400;
    }
  }
  &.color-44d7b6 {
    &::before {
      background-color: #44d7b6;
    }
  }
  &.color-b620e0 {
    &::before {
      background-color: #b620e0;
    }
  }
  &.color-00b62a {
    &::before {
      background-color: #00b62a;
    }
  }
  &.color-f7b500 {
    &::before {
      background-color: #f7b500;
    }
  }
  &.color-32c5ff {
    &::before {
      background-color: #32c5ff;
    }
  }
  &.color-d2109d {
    &::before {
      background-color: #d2109d;
    }
  }
  &.color-6236ff {
    &::before {
      background-color: #6236ff;
    }
  }
}