$lighter-green: #80DFD2;
$light-green: #7ECFCC;
$light-blue: #748FC7;

$black:        hsl(0, 0%, 20%);
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 60%);
$grey-lighter: hsl(0, 0%, 86%);

$white-ter:    hsl(0, 0%, 96%);
$white-bis:    hsl(0, 0%, 98%);
$white:        hsl(0, 0%, 100%);

$purple:       hsl(271, 100%, 71%);

$red:          #FF5025;
$orange:       #FFB565;
$yellow:       #FFCF54;
$green-mint:   #0BD594;
$green:        #00B43B;
$blue-light:   #70DED1;
$blue:         #00ADFB;
$blue-dark:    #496D90;
$gray-dark:    #363636;
$gray-light:   #F5F5F7;
$gray:         #A7A7A7;

// Colors
$primary: $green-mint;

$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $orange;

$light: $white-ter;
$dark: $grey-darker;

// General colors
$background: $white-ter;

$border: $grey-lighter;
$border-hover: $grey-light;

// Text colors
$text: $grey-dark;
$text-light: $grey;
$text-strong: $grey-darker;

// Code colors
$code: $red;
$code-background: $background;

$pre: $text;
$pre-background: $background;

// Link colors
$link: $blue;
$link-visited: $purple;

$link-hover: $grey-darker;
$link-hover-border: $grey-light;

$link-focus: $grey-darker;
$link-focus-border: $blue;

$link-active: $grey-darker;
$link-active-border: $grey-dark;