$table-color: $grey-darker;
$table-background-color: $white;

$table-cell-border: 1px solid $grey-lighter;
$table-cell-border-width: 0 0 0;
$table-cell-padding: 0.5em 0.75em;
$table-cell-heading-color: $text-strong;

$table-head-cell-border-width: 0 0 0;
$table-head-cell-color: $text-strong;
$table-foot-cell-border-width: 2px 0 0;
$table-foot-cell-color: $text-strong;

$table-head-background-color: transparent;
$table-body-background-color: transparent;
$table-foot-background-color: transparent;

$table-row-hover-background-color: $white-bis;

$table-row-active-background-color: $primary;
$table-row-active-color: $white-ter;

$table-striped-row-even-background-color: $white-bis;
$table-striped-row-even-hover-background-color: $white-ter;

table.table {
  td {
    &.is-image-cell {
      white-space: nowrap;
      width: 1px;
      .image {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

table.table.is-cardable {
  thead {
    tr {
      th {
        font-weight: $weight-medium;
      }
    }
  }
  td {
    &.is-image-cell {
      white-space: nowrap;
      width: 1px;
      .image {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
@media screen and (max-width:768px) {
  table.table.is-cardable {
    thead {
      display: none
    }
    tbody {
      tr {
        max-width: 100%;
        position: relative;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1);
        color: #4a4a4a;
        display: block;
        &:not(:last-child) {
          margin-bottom: 1rem
        }
        td {
          border: 0;
          display: flex;
          width: auto;
          justify-content: space-between;
          text-align: right;
          border-bottom: 1px solid #f5f5f5;
          &:before {
            content: attr(data-label);
            font-weight: $weight-medium;
            text-align: left;
          }
          &:last-child {
            border-bottom: 0
          }
          &.is-image-cell {
            width: auto;
            .image {
              width: 25vw;
              height: auto;
              margin: 0 auto .375rem
            }
          }
        }
      }
    }
  }
}